@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-clr: blue;
  --scrollbar-bg-clr: rgb(226 232 240);
}

.dark {
  --scrollbar-clr: red;
  --scrollbar-bg-clr: black;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-clr); /* color of the tracking area */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-clr); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--scrollbar-clr); /* creates padding around scroll thumb */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }
}
